#body1{
    background-color:#EDEDED ; 
 }

 ul{
    text-align: center;
    margin-right: 60px;
     :nth-child(2){
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 15px;
    letter-spacing: 1px;
 }
 :nth-child(3){
    font-size: 0.6rem;
    opacity: 0.8;
 }
}
 img{
    width: 30px;
    margin-bottom: 7px;
 }
 li{
    list-style: none;
 }
 p{
    text-align: center;
font-size: 0.7rem;
opacity: 0.8;
 }
 h2{
    text-align: center;
 }

 .main1{
    &_div1{
        padding: 50px;
width: 660px;
height: 270px;
background-color: white;

    }

    &_div2{
        display: flex;
        margin-top: 60px;
    }
 }