#body1{
    background-color: #EDEDED;
}
a{
    text-decoration: none;
    color: black;
    font-size: 0.6rem;
    opacity: 0.8;
}
p{
    font-size: 0.6rem;
    opacity: 0.8;
}
span{
    font-size: 0.6rem;
    opacity: 0.8;
}
li{
    list-style: none;
}
.esas1{
    &_div1{
width: 720px;
height: 80px;
background-color: white;
display: flex;
column-gap: 170px;

        &_head1{
            margin-top: 0px;
        }
        &_para1{
margin-top: -15px;
        }
        &_but1{
background-color:#23A6F0;
color: white;
border: none;
border-radius: 5px;
height: 30px;
padding: 10px;
padding-left: 20px;
padding-right: 20px;
font-size: 0.5rem;
margin-top: 7px;
        }
    }
    &_div2{
        width: 720px;
        height: 200px;
        background-color: white;
        display: flex;
        margin-top: -25px;

        &_sekil1{
            height: 14px;
            
        }
    
    }




&_div3{
width: 720px;
height: 50px;
background-color: white;
display: flex;
column-gap:280px;
margin-top: -30px;
&_sekil1{
    height: 14px;
    margin-top: 6px;
    margin-right: 7px;
}
}

}

