#body1{
    background-color: #EDEDED;
}
a{
    text-decoration: none;
    color:white;
    font-size: 0.6rem;
    opacity: 0.8;
}
hr{
    width: 640px;
    opacity: 0.2;
   
}
p{
     color: white;
    font-size: 0.6rem;
    opacity: 0.8;
}
span{ 
    color: white;
    font-size: 0.5rem;
    opacity: 0.7;
  
}
li{
    list-style: none;
}
.esas1{
    &_div1{
        width: 720px;
        height: 90px;
        background-color: #252B42;
        display: flex;
        column-gap: 400px;
        &_sekil1{
            height: 14px;
            margin-top: 30px;
            margin-right: 7px;
        }
        &_head1{
            color: white;
        }
    }
    &_div2{
        width: 720px;
        height: 190px;
        background-color:#252B42;
        display: flex;
        margin-top: -25px;
        margin-bottom: -16px;
        &_head1{
            color: white;
        }
        &_head2{
            color: white;
        }
         &_head3{
            color: white;
        } 
        &_head4{
            color: white;
        }
         &_head5{
            color: white;}
        
        &_in1{
           
        border: none;
        border-radius: 3px;
        background-color: #F9F9F9;
        padding: 10px;
        font-size: 0.6rem;
        }
        &_in2{ 
            border: none;
            border-radius: 3px;
            background-color: #23A6F0;
            padding: 10px;
            font-size: 0.6rem;
            margin-left: -10px;
            color: white;
            }
       
    }
  &_div3{
    width: 720px;
    height: 30px;
    background-color: #252B42;
    &_span1{
font-size: 0.6rem;
opacity: 0.8;

    }
    
  } 
  &_div4{
    width: 720px;
    height: 30px;
    background-color: #252B42;
    margin-top: -15px;
    color: white;
} 
}


